@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&family=Roboto&display=swap');

/* TABLE OF CONTENTS : */

/* 1. Global Styles -------*/
/* 2. Typography ----------*/
/* 3. Layout --------------*/
/* 4. Areas ---------------*/

/* 1. Global Styles -------*/
*{
    margin: 0;
    box-sizing: border-box;
}
/* 2. Typography ----------*/
* {
    font-family: 'Roboto', sans-serif;
}
h1, h2, h3{
    font-family: 'Merriweather', serif;
}
h2{
    color: #5722CD;
}
p{
    font-size: 15px;
}
a:link {
    text-decoration: none;
    color: #5722CD;
}
a:visited {
    color: #4845E4;
}
a:hover{
    color: #4845E4;
}
header, .form{
    color: white;
    text-align: center;
}

/* 3. Layout --------------*/
header, .form{
    background: rgb(72,69,228);
    background: linear-gradient(90deg, rgba(72,69,228,1) 0%, rgba(87,34,205,1) 100%);
}
.narrow{
    display: flex;
    justify-content: center;
    align-items: center;
}
.narrow section{
    flex-basis: 500px;
    flex-shrink: 1;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
    margin: 50px;
}
.line1{
    border-bottom: 50px solid white;
    border-right: 100vw solid transparent;
    /*top: 0;*/
    /*bottom: 0;*/
    /*left: 0;*/
}
.line2{
    border-top: 50px solid white;
    border-left: 100vw solid transparent;
    top: 0;
    bottom: 0;
    left: 0;
}

/* 4. Areas ---------------*/

/* 4.1 Nav ---------------*/
nav ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: right;
    gap: 30px;
    padding: 20px;
}

/* 4.2 Header ---------------*/

button, input[type="submit"]{
    background-color: #ED4385;
    color: white;
    padding: 20px;
    border: 0;
    border-radius: 50px;
    box-shadow: 2px 3px 18px #00000057;
}
.squiggle{
    color: white;
}
img{
    margin: 0;
    padding: 0;
}

/* 4.3 Intro ---------------*/



/* 4.4 Boxes ---------------*/
.boxes{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.boxes article{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    margin: 30px 100px;
}

.boxes .variety{
    display: flex;
    flex-direction: row-reverse;
}

.boxes article div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 300px;
    flex-shrink: 1;
    flex-grow: 0;
    gap: 20px;
    padding: 10px;
    margin-right: 100px;
}
.boxes img{
    max-width: 450px;
    height: 100%;
}
/* 4.5 WebDev ---------------*/
.webdev{
    margin: 50px;
}
.webdev section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    flex-basis: 500px;
}
.webdev section  article{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-basis: 350px;
    padding: 30px;
    gap: 10px;
}
.webdev img{
    max-width: 60px;
    height: 100%;
}
/* 4.6 Form ---------------*/
.form section{
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
input{
    max-width: 100%;
}
/* 4.7 Footer ---------------*/
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}
