@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&family=Roboto&display=swap');

/* TABLE OF CONTENTS : */

/* 1. Global Styles -------*/
/* 2. Typography ----------*/
/* 3. Layout --------------*/
/* 4. Areas ---------------*/

/* 1. Global Styles -------*/
*{
    margin: 0;
    box-sizing: border-box;
}
/* 2. Typography ----------*/
* {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3{
    font-family: 'Merriweather', serif;

}

header, .form{
    color: white;
    text-align: center;
}

/* 3. Layout --------------*/
header, .form{
    background: rgb(72,69,228);
    background: linear-gradient(90deg, rgba(72,69,228,1) 0%, rgba(87,34,205,1) 100%);
}
.narrow{
    display: flex;
    justify-content: center;
    align-items: center;
}
.narrow section{
    flex-basis: 500px;
    flex-shrink: 1;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
    margin: 50px;
}
.line{
    border-bottom: 30px solid white;
    border-left: 100vw solid transparent;
    bottom: 0;
    left: 0;
}

/* 4. Areas ---------------*/

/* 4.1 Nav ---------------*/
nav ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: right;
    gap: 30px;
    padding: 20px;
}

/* 4.2 Header ---------------*/

button{
    background-color: #ED4385;
    color: white;
    padding: 20px;
    border: 0px;
    border-radius: 50px;
}
.squiggle{
    color: white;
    margin: 0;
    padding: 0;
}

/* 4.3 Intro ---------------*/



/* 4.4 Boxes ---------------*/
.boxes{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}
.boxes article{
    display: flex;
    flex-direction: row;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    margin: 30px 100px;
    padding: 0px;
}

.boxes article div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}
/* 4.5 WebDev ---------------*/

/* 4.6 Form ---------------*/

/* 4.7 Footer ---------------*/
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}
